<button type="button" class="btn btn-{{if data.props.style data.props.style}}">
    {{data.props.title}}

    {{#each children as |component|}}
      {{component component.type data=component}}
    {{/each}}

</button>