<button type="button" class="btn btn-{{if style style}}" {{action 'click'}}>
    {{title}}

    {{#each children as |component|}}
      {{component component.type data=component}}
    {{/each}}

</button>