<button type="button" class="{{cssClass}}" {{action 'click'}}>
    
  {{title}}

  {{#if children}}
    {{#each children as |component|}}
      {{component component.class data=component}}
    {{/each}}
  {{/if}}

</button>