<div class="{{cssClass}}">
  
	{{#if messageHTMLSafe}}
		{{messageHTMLSafe}}
	{{/if}}
		
  {{#if children}}
		{{#each children as |component|}}
			{{component component.type data=component}}
		{{/each}}
	{{/if}}
  
</div>