
//
// UI LAYER

.ui-base {
	position: relative;
	margin: $space-default * 2;
	padding: $space-default * 2;
	@include border-all();
	@include shadow();
	
	> .content-type {
		position: absolute;
		top: 0;
		left: $space-default;
		background: #ddd;
		padding: 0 $space-default;
	}

}
